.border-none {
    border-collapse: collapse;
    border: none;
  }
  
  .border-none td {
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
  }
  
  .border-none tr:first-child td {
    border-top: none;
  }
  
  .border-none tr:last-child td {
    border-bottom: none;
  }
  
  .border-none tr td:first-child {
    border-left: none;
  }
  
  .border-none tr td:last-child {
    border-right: none;
  }
  .client-thumbnail {
    cursor: pointer;
    filter: grayscale(100%) blur(1px);
  }
  .client-thumbnail:hover {
    filter: grayscale(0%);
  }