.css-yw020d-MuiAccordionSummary-expandIconWrapper {
    color:#ffffff !important;
}
.css-ftoh05-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
    color: #ffffff !important;
    border-top: 1px solid #ffffff !important;
}
.css-2mb8vj {
    background-color: transparent !important;
    color: #ffffff !important;
    border-top: 1px solid #ffffff !important;
}
.css-1fx8m19 {
    color: #ffffff !important;
}